@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 100;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    background-image: linear-gradient(rgba(187, 187, 187, 0.5), rgba(0, 0, 0, 0.5)), url('img/bg_logo.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;


}

.header a {
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;

}

.home {
    gap: 40px;
    display: flex;
}

body {
    font-family: 'Archivo Black', sans-serif;
}

.center_text {
    margin-top: 150px;
    text-align: center;
}

.center_text h1 {
    font-size: 70px;
    color: #ffffff;
}

.center_text p {
    margin-top: 15px;
    font-size: 20px;
    color: #ffffff;
}

input[type="text"] {
    margin-top: 50px;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 15px;
    border: none;
}

.acc {
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    background-color: #00c753;
    border: none;
}

.get-started {
    margin-top: 50px;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    background-color: #00c753;
    border: none;
}